/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-primary: #572af8;
  --color-like: #29b067;
  --color-warning: #f05e36;
  --color-4: #ffcf54;
  --color-5: #191720;
  --color-text: #575363;
  --color-bg: #fffae3;
  --color-8: #e8e6ed;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Manrope, sans-serif;
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
}

input,
textarea {
  background: transparent;
}

textarea {
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  transition: background-color 1s 9999s;
  -webkit-text-fill-color: var(--text-color);
  caret-color: var(--text-color);
}

h1,
h2 {
  font-family: RobotoSerif, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-5);
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 166px;
  height: 60px;
  padding: 0 20px;
  border-radius: 6px;
  background: var(--color-4);
  font-size: 18px;
  font-weight: 600;
  color: #fff !important;
  white-space: nowrap;
  user-select: none;
}
.btn--small {
  height: 36px;
}
.btn + .btn:not(.btn--no-margin) {
  margin-left: 20px;
}
.btn--primary {
  background: var(--color-primary);
}
.btn--text {
  background: transparent;
}
.btn--black {
  background: var(--color-5);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.41%;
  font-weight: 800;
}
.logo__thumb {
  width: 18px;
}

.modal__overlay, .modal {
  position: fixed;
  inset: 0;
}

.modal {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
}
.modal.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
.modal__close {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  opacity: 1;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: #fff;
  font-size: 3.5rem;
  color: var(--color-primary);
}
.modal__close:hover {
  opacity: 0.9;
}
.modal__overlay {
  background: rgba(0, 0, 0, 0.4);
}
.modal__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border-radius: 12px;
  background: #fff;
}
@media (max-width: 991.98px) {
  .modal__content {
    width: 400px;
  }
}
@media (max-width: 767.98px) {
  .modal__content {
    width: 100%;
    height: 100%;
  }
}
.modal__thumb {
  position: relative;
  padding-top: 40%;
  width: 100%;
}
@media (max-width: 767.98px) {
  .modal__thumb {
    padding-top: 50%;
  }
}
.modal__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.modal-form__info {
  margin: 20px 0;
  width: 100%;
  padding: 0 30px;
}
.modal-form__info-title {
  display: block;
  margin-bottom: 12px;
  font-size: 1.4rem;
  line-height: 1.71;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .modal__form {
    gap: 15px;
  }
}
.modal__form-input {
  padding: 0 15px;
  height: 60px;
  border: 1px solid var(--color-8);
  border-radius: 6px;
  color: var(--color-5);
}
.modal__unlock, .modal__order {
  font-size: 2.2rem;
  line-height: 1.333;
  font-weight: 700;
}
.modal__unlock {
  margin-top: 18px;
  color: var(--color-warning);
}
.modal__off {
  margin: 18px 0;
  font-size: 6rem;
  font-weight: 600;
  color: var(--color-5);
}
@media (max-width: 991.98px) {
  .modal__off {
    margin: 14px 0;
    font-size: 4rem;
  }
}
.modal__order {
  color: var(--color-like);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__input {
  padding: 0 15px;
  width: 100%;
  height: 50px;
  border: 1px solid var(--color-5);
  border-radius: 6px;
  color: var(--color-5);
}
.form__link {
  align-self: flex-end;
}

.header {
  position: sticky;
  z-index: 90;
  background: var(--color-bg);
  padding: 20px 0;
  top: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}
@media (max-width: 767.98px) {
  .navbar__list {
    flex-direction: column;
    gap: 20px;
  }
}
.navbar__item {
  position: relative;
}
.navbar__item:hover .showdown {
  display: flex;
}
@media (max-width: 767.98px) {
  .navbar__item:hover .navbar__link-icon {
    margin-bottom: -5px;
    rotate: 0deg;
  }
}
.navbar__link {
  padding: 0 24px;
}
.navbar__link-icon {
  margin-bottom: 2px;
}
@media (max-width: 767.98px) {
  .navbar__link-icon {
    rotate: -90deg;
    transition: rotate margin-bottom;
    transition-duration: 0.25s;
  }
}
@media (max-width: 767.98px) {
  .navbar__link {
    font-size: 2rem;
    font-weight: 600;
  }
}

.top-act {
  display: flex;
  align-items: center;
}
.top-act__sign-in {
  font-size: initial;
  color: var(--color-5) !important;
  padding: 0 15px;
  min-width: 0;
  height: inherit;
}
.top-act__sign-up {
  font-size: inherit;
  min-width: 107px;
  height: 44px;
  margin-left: 15px;
}
.top-act__cart {
  min-width: 107px;
  height: 44px;
  font-size: initial;
}
@media (max-width: 991.98px) {
  .top-act__cart {
    min-width: 80px;
  }
}

.showdown {
  display: none;
  position: absolute;
  top: 0;
  right: 24px;
  padding-top: 40px;
}
@media (max-width: 767.98px) {
  .showdown {
    left: 24px;
    width: 170px;
  }
}
.showdown__inner {
  padding: 12px;
  width: 170px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 16px 48px 0px rgba(0, 103, 255, 0.0705882353);
}
@media (max-width: 767.98px) {
  .showdown__inner {
    background: #efe4c8;
    padding: 12px 30px;
  }
}
.showdown__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.showdown__link {
  display: block;
  white-space: nowrap;
  line-height: 1.75;
}
@media (max-width: 767.98px) {
  .showdown__link {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.menu-inner {
  position: fixed;
  inset: 58px 0 0 0;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background: var(--color-bg);
  opacity: 0;
  visibility: hidden;
}
.menu-inner.show {
  opacity: 1;
  visibility: visible;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}

.footer {
  padding: 100px 0 30px;
  background: var(--color-bg);
  color: var(--color-6);
}
@media (max-width: 991.98px) {
  .footer {
    padding-top: 50px;
  }
}
.footer__row {
  display: grid;
  grid-template-columns: 2.5fr 1.2fr 1fr 1fr 1fr;
}
@media (max-width: 991.98px) {
  .footer__row {
    grid-template-columns: 1fr;
  }
}
.footer__desc {
  margin: 12px 0 20px;
  width: 270px;
  line-height: 1.75;
}
.footer__social {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}
.footer .logo {
  color: var(--color-text);
}
.footer__heading {
  margin-bottom: 16px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-text);
}
@media (max-width: 991.98px) {
  .footer__heading {
    margin: 10px 0;
  }
}
.footer__link {
  display: inline-block;
  padding: 8px 0;
  line-height: 1.75;
}
.footer__separate {
  margin: 55px 0 30px;
  height: 1.5px;
  background: var(--color-6);
}
@media (max-width: 991.98px) {
  .footer__separate {
    margin: 30px 0 0;
  }
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .footer__copyright {
    flex-direction: column;
  }
}
.footer__copyright--right {
  display: flex;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .footer__copyright--right {
    flex-direction: column;
    gap: 20px;
  }
}

.result {
  margin: 55px 0 160px;
}
@media (max-width: 991.98px) {
  .result {
    margin: 20px 0 70px;
  }
}

.show {
  display: block !important;
}

.hide + .filter__overlay {
  display: none !important;
}

.filter-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.filter-row__title {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
@media (max-width: 1199.98px) {
  .filter-row__title {
    gap: 12px;
  }
}
.filter-row__title--current {
  color: var(--color-5);
}
.filter-row__link {
  font-size: 1.6rem;
  line-height: 1.67;
  font-weight: 400;
  border-bottom: 1px solid var(--color-text);
}
.filter__switch {
  margin-top: 30px;
}
.filter__switch-input:checked + .filter__switch-label::before {
  left: auto;
  right: 0;
}
.filter__switch-input:not(:checked) + .filter__switch-label .filter__switch-value:nth-child(2), .filter__switch-input:checked + .filter__switch-label .filter__switch-value:nth-child(1) {
  color: var(--color-5);
}
.filter__switch-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 60px;
  border: 1px solid var(--color-5);
  border-radius: 6px;
  color: #fff;
  user-select: none;
}
@media (max-width: 1199.98px) {
  .filter__switch-label {
    width: 200px;
  }
}
@media (max-width: 991.98px) {
  .filter__switch-label {
    width: 250px;
  }
}
.filter__switch-label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 135px;
  height: 100%;
  border-radius: inherit;
  background: var(--color-primary);
}
@media (max-width: 1199.98px) {
  .filter__switch-label::before {
    width: 100px;
  }
}
@media (max-width: 991.98px) {
  .filter__switch-label::before {
    width: 125px;
  }
}
.filter__switch-value {
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 0 33px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.filter__switch-value:nth-child(2) {
  margin-left: 8px;
}
@media (max-width: 1199.98px) {
  .filter__switch-value {
    padding: 0 15px;
  }
}
@media (max-width: 991.98px) {
  .filter__switch-value {
    padding: 0 28px;
  }
}
.filter__today {
  display: flex;
  margin-top: 18px;
}
.filter__today-hil {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-primary);
}
.filter__today-hil::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-primary);
  margin: 0 12px;
}
.filter-menu {
  margin-top: 30px;
}
.filter-menu__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.filter-menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-5);
}
.filter-menu__wrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.filter-menu__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}
.filter-menu__checkbox-label {
  margin-left: 28px;
}
.filter-menu__checkbox::before, .filter-menu__checkbox::after {
  content: "";
  position: absolute;
}
.filter-menu__checkbox::before {
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--color-text);
}
.filter-menu__checkbox:has(:checked)::after {
  content: url(../../assets/icons/checkbox.svg);
  top: -1px;
}
.filter__separate {
  margin: 30px 0;
  height: 1px;
  background: var(--color-5);
}
@media (max-width: 991.98px) {
  .filter__separate {
    margin: 10px 0 30px;
  }
}
.filter__overlay {
  position: fixed;
  inset: 0;
  z-index: 98;
  background: rgba(0, 0, 0, 0.4);
}
@media (max-width: 991.98px) {
  .filter {
    position: fixed;
    inset: 0;
    z-index: 99;
    width: 40%;
    margin-top: 70px;
    overflow-y: auto;
    overscroll-behavior: contain;
    opacity: 0;
    visibility: hidden;
  }
  .filter.show {
    opacity: 1;
    visibility: visible;
    transition: opacity, visibility;
    transition-duration: 0.3s;
  }
  .filter-inner {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 0 12px 12px 0;
  }
}
@media (max-width: 767.98px) {
  .filter {
    width: 60%;
  }
}
@media (max-width: 575.98px) {
  .filter {
    width: 80%;
  }
}

.category__heading, .category__title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
.category__link {
  font-size: 1.8rem;
  line-height: 1.66;
  font-weight: 600;
  color: var(--color-primary);
}
.category__top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .category__top-wrap--reverse {
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 18px;
  }
}
.category__menu {
  position: relative;
  display: flex;
  gap: 30px;
  margin-top: 30px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .category__menu {
    padding-bottom: 20px;
    overflow-x: auto;
  }
}
.category__menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  gap: 18px;
  color: var(--color-5);
  font-weight: 600;
}
.category__menu-item-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--color-bg);
}
.category__menu-item__icon {
  width: 28px;
  height: 28px;
}
.category__menu-item--current {
  color: var(--color-primary);
}
.category__menu-next {
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 12px 24px 0px rgba(27, 12, 84, 0.0705882353);
}
.category__ops {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 991.98px) {
  .category__ops {
    width: 100%;
    justify-content: space-between;
  }
}
.category__ops-menu {
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-text);
  border-radius: 6px;
}
.category__ops-menu--icon {
  padding: 20px;
}
@media (max-width: 991.98px) {
  .category__ops-wrap {
    position: absolute;
    z-index: 99;
    top: 60px;
    right: 0;
  }
}
.category-card {
  margin-top: 30px;
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.category-card:hover {
  box-shadow: 0px 20px 70px 0px rgba(27, 12, 84, 0.0705882353);
}
.category-card__heading {
  margin-top: 12px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .category-card__heading {
    font-size: 1.6rem;
  }
}
@media (max-width: 767.98px) {
  .category-card__heading {
    font-size: 2rem;
  }
}
.category-card__desc {
  margin: 8px 0 4px;
  line-height: 1.67;
}
.category-card__thumb {
  position: relative;
  padding-top: 100%;
}
.category-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.category-card__wrap {
  display: flex;
  gap: 30px;
}
.category-card__wrap-body {
  display: flex;
  flex-direction: column;
}
.category-card__wrap-separate {
  align-self: center;
  width: 1px;
  height: 37px;
  background: var(--color-text);
}
.category-card__title, .category-card__value {
  font-size: 1.4rem;
  line-height: 1.71;
}
.category-card__value {
  color: var(--color-5);
  font-weight: 600;
}
.category-card__evaluate {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
}
.category__bottom {
  margin-top: 30px;
}
.category__bottom-title, .category__bottom-item {
  line-height: 1.75;
}
.category__bottom-bold {
  margin: 0 3px;
  font-weight: 600;
  color: var(--color-5);
}
.category__bottom-list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 18px;
  color: var(--color-5);
}
.category__bottom-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid #e0dee7;
  border-radius: 4px;
}
.category__bottom-item--current {
  color: #fff;
  background: var(--color-primary);
}

.section__heading {
  font-size: 4.4rem;
  font-weight: 600;
}
@media (max-width: 991.98px) {
  .section__heading {
    font-size: 3.8rem;
  }
}
.section__heading--large {
  font-size: 7.4rem;
  font-weight: 600;
}
@media (max-width: 991.98px) {
  .section__heading--large {
    font-size: 6rem;
  }
}
@media (max-width: 991.98px) {
  .section__heading--large {
    font-size: 5rem;
  }
}

.section__desc {
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: 1.66;
}

.hero {
  padding: 74px 10px 100px;
  background: var(--color-bg);
}
.hero__link {
  font-size: 1.8rem;
  line-height: 1.66;
  font-weight: 500;
  color: var(--color-primary);
}
.hero__heading {
  margin-top: 12px;
  font-size: 7.4rem;
  line-height: 1;
  font-weight: 600;
}
.hero__desc {
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: 1.66;
}
.hero__img {
  position: relative;
  right: -24px;
  padding-top: 89%;
}
@media (max-width: 991.98px) {
  .hero__img {
    right: 0;
  }
}
.hero__img-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-form-input {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 38px;
}
@media (max-width: 767.98px) {
  .home-form-input {
    flex-direction: column;
  }
}
.home-form-input__icon {
  margin: 0 12px 0 16px;
}
.home-form__row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border: 1.5px solid var(--color-text);
  border-radius: 6px;
  background: #fff;
}
.home-form__input {
  padding: 0 12px 0 0;
  width: 100%;
  height: 100%;
}
.home-form__btn {
  min-width: 135px;
}
.home-form__btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .home-form__btn {
    width: 100%;
  }
}

.link-down {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 38px 0 50px;
}
@media (max-width: 767.98px) {
  .link-down {
    margin-top: 18px;
  }
}
.link-down__text {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
.link-down__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--color-text);
  background: #fff;
  object-fit: cover;
}

.service {
  margin: 160px 0;
  text-align: center;
}
@media (max-width: 991.98px) {
  .service {
    margin: 70px 0;
  }
}
.service__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service__list {
  margin-top: 55px;
}
@media (max-width: 991.98px) {
  .service__list {
    margin-top: 30px;
  }
}
.service__item {
  padding: 30px 20px;
}
@media (max-width: 991.98px) {
  .service__item {
    box-shadow: 0px 20px 70px 0px rgba(27, 12, 84, 0.07);
  }
}
.service__item:hover {
  box-shadow: 0px 20px 70px 0px rgba(27, 12, 84, 0.07);
}
.service__item:hover > .service__link {
  color: var(--color-primary);
}
.service__img {
  width: 100px;
  height: 100px;
}
.service__title {
  margin-top: 20px;
  font-size: 2.6rem;
  line-height: 1.38;
  font-weight: 600;
}
.service__desc {
  margin-top: 12px;
}
.service__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 1.66;
  font-weight: 600;
  color: var(--color-5);
}

.food {
  padding: 200px 0 100px;
  background: var(--color-bg);
}
@media (max-width: 991.98px) {
  .food {
    margin-top: 70px;
    padding: 50px 0;
  }
}
.food-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .food-inner {
    flex-direction: column-reverse;
  }
}
.food-media {
  position: relative;
  padding-top: 95%;
}
.food-media__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.food-content {
  margin-bottom: 50px;
}
.food-content__link {
  margin-top: 38px;
  max-width: 166px;
}
.food-content__link:hover {
  opacity: 0.9;
}

.countdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: -100px;
  padding: 55px 0;
  border-radius: 12px;
  background: var(--color-5);
}
@media (max-width: 1199.98px) {
  .countdown {
    gap: 70px;
  }
}
@media (max-width: 991.98px) {
  .countdown {
    gap: 50px;
  }
}
@media (max-width: 991.98px) {
  .countdown {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.countdown::before {
  content: url(../../assets/icons/pizza-25.svg);
  position: absolute;
  top: 0;
  left: 0;
}
.countdown::after {
  content: url(../../assets/icons/leaf.svg);
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
}
@media (max-width: 991.98px) {
  .countdown::after {
    top: initial;
    bottom: 30px;
    translate: 0 0;
  }
}
.countdown__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  color: #fff;
}
.countdown__price--title {
  font-family: RobotoSerif, sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
}
.countdown__price--value {
  font-size: 1.8rem;
  line-height: 1.66;
}

.feature__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 55px;
  padding: 48px;
}
@media (max-width: 991.98px) {
  .feature__item {
    margin-top: 30px;
    padding: 30px 12px;
  }
}
.feature__item:hover {
  box-shadow: 0px 20px 70px 0px rgba(27, 12, 84, 0.07);
}
.feature__item:hover > .feature__link {
  background: var(--color-primary);
}
.feature__title {
  margin-top: 38px;
  font-size: 2.6rem;
  line-height: 1.38;
  font-weight: 600;
}
.feature__thumb {
  position: relative;
  padding-top: 47%;
  width: 65%;
}
.feature__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.feature__link {
  margin-top: 38px;
}

@media (max-width: 991.98px) {
  .feed-inner {
    flex-direction: column;
  }
}
.feed__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 18px 0 38px 26px;
  list-style: inherit;
}
.feed-content__link {
  max-width: 212px;
}
.feed-content__link:hover {
  opacity: 0.9;
}

.flavour {
  position: relative;
  margin-top: 160px;
  height: 695px;
  background: var(--color-4);
  text-align: center;
}
@media (max-width: 1199.98px) {
  .flavour {
    height: 615px;
  }
}
@media (max-width: 991.98px) {
  .flavour {
    margin-top: 70px;
    height: 410px;
  }
}
.flavour-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
@media (max-width: 991.98px) {
  .flavour-content {
    padding-top: 50px;
  }
}
.flavour__desc {
  color: var(--color-5);
}
.flavour-media {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 144px;
  padding: 0 25px;
  width: 100%;
}

.cta-bg {
  background: var(--color-bg);
}

.ip-review {
  position: relative;
  display: flex;
  gap: 30px;
  margin-top: -32%;
}
@media (max-width: 991.98px) {
  .ip-review {
    gap: 9px;
  }
}
.ip-review__thumb {
  position: relative;
  padding-top: 64%;
  flex: 1;
}
.ip-review__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.app {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .app {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .app {
    flex-direction: column;
  }
}

.blq {
  margin-top: 160px;
  padding-bottom: 160px;
}
@media (max-width: 991.98px) {
  .blq {
    margin-top: 70px;
    padding-bottom: 50px;
  }
}
.blq-content {
  display: flex;
  overflow: hidden;
}
.blq__row {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-shrink: 0;
}
.blq-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blq__item {
  position: relative;
  margin-top: 69px;
  padding: 30px 20px;
  border-radius: 12px;
  background: #fff;
}
.blq__item:hover > .blq__icon,
.blq__item:hover .blq__name {
  filter: brightness(0) saturate(100%) invert(13%) sepia(99%) saturate(5327%) hue-rotate(256deg) brightness(100%) contrast(95%);
  color: var(--color-primary);
}
.blq__icon {
  position: absolute;
  top: -14px;
  left: 20px;
}
.blq-list__icon {
  display: flex;
  gap: 12px;
}
.blq-list__icon-bt {
  margin-top: -30px;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .blq-list__icon-bt {
    margin-top: -40px;
  }
}
.blq-separate {
  margin: 20px 0;
  height: 1px;
  background: var(--color-primary);
  opacity: 0.2;
}
.blq__name {
  color: var(--color-5);
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}
.blq__ai {
  font-size: 1.4rem;
  line-height: 1.71;
}

.nwl {
  position: relative;
  z-index: 1;
  padding: 100px 0;
  background: var(--color-like);
  color: #fff;
}
@media (max-width: 991.98px) {
  .nwl {
    padding: 50px 0;
  }
}
.nwl::before {
  content: url(../../assets/icons/big-hamburge.svg);
  position: absolute;
  top: -132px;
  left: 0;
}
@media (max-width: 991.98px) {
  .nwl::before {
    display: none;
  }
}
.nwl::after {
  content: url(../../assets/icons/big-pizza.svg);
  position: absolute;
  top: 100px;
  right: 0;
}
@media (max-width: 991.98px) {
  .nwl::after {
    display: none;
  }
}
.nwl__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nwl__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nwl__heading {
  color: inherit;
}
.nwl__form {
  width: 100%;
}
.nwl__form-info {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .nwl__form-info {
    flex-direction: column;
  }
}
.nwl__form-row {
  width: 384px;
  height: 60px;
}
@media (max-width: 991.98px) {
  .nwl__form-row {
    width: 100%;
  }
}
.nwl__form-input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border-radius: 6px;
  background: #fff;
  color: var(--color-5);
}
.nwl__form-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .nwl__form-btn {
    width: 100%;
  }
}

.sign-up__overlay, .sign-up {
  position: fixed;
  inset: 0;
}

.sign-up {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
}
.sign-up.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.3s;
}
.sign-up__content {
  position: relative;
  z-index: 99;
  padding: 15px 20px;
  border-radius: 12px;
  background: #fff;
  overflow-y: auto;
  overscroll-behavior: contain;
}
@media (max-width: 767.98px) {
  .sign-up__content {
    width: 90%;
    height: 80%;
  }
}
.sign-up__overlay {
  z-index: 98;
  background: var(--color-5);
  opacity: 0.5;
}
.sign-up__heading {
  font-size: 2.6rem;
  line-height: 1.38;
  font-weight: 600;
  text-align: center;
}
.sign-up__continue {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.sign-up__or {
  margin: 20px 0;
  text-align: center;
}
.sign-up__link {
  display: block;
  margin-top: 20px;
  text-align: center;
}
.sign-up__link--bold {
  font-weight: 600;
  color: var(--color-5);
}

.log-in {
  display: flex;
  align-items: center;
  width: 370px;
  height: 50px;
  border: 1px solid var(--color-5);
  border-radius: 6px;
}
@media (max-width: 767.98px) {
  .log-in {
    width: 100%;
  }
}
.log-in__icon {
  margin-left: 15px;
}
.log-in__title {
  margin: 0 auto;
  padding-right: 8%;
}

.co-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.co-soon__info {
  display: flex;
  flex-direction: column;
}
.co-soon__thumb {
  position: relative;
  padding-top: 22%;
  left: 50%;
  translate: -50% 0;
  height: 264px;
}
@media (max-width: 767.98px) {
  .co-soon__thumb {
    height: 150px;
  }
}
.co-soon__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.co-soon__heading {
  margin-top: 38px;
}
.co-soon__heading, .co-soon__desc {
  padding: 0 15px;
  max-width: 570px;
  text-align: center;
}
.co-soon__social {
  justify-content: center;
  margin-top: 38px;
}

.go-to-home {
  align-self: center;
  margin-top: 38px;
  width: 172px;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 55px;
}
@media (max-width: 767.98px) {
  .contact {
    margin-top: 30px;
  }
}
.contact__heading {
  align-self: center;
  max-width: 570px;
}
@media (max-width: 767.98px) {
  .contact__heading {
    font-size: 3.4rem;
  }
}
.contact__thumb {
  margin-top: 38px;
}
.contact-form {
  margin: 50px 0 160px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .contact-form {
    margin-bottom: 70px;
  }
}
.contact-form__row {
  display: flex;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .contact-form__row {
    flex-direction: column;
  }
}
.contact-form__input {
  padding: 0 15px;
  width: 100%;
  height: 70px;
}
@media (max-width: 767.98px) {
  .contact-form__input {
    height: 44px;
  }
}
.contact-form__input, .contact-form__textarea {
  border: 1px solid var(--color-5);
  border-radius: 6px;
  color: var(--color-5);
}
.contact-form__textarea {
  padding: 15px;
  height: 330px;
}
@media (max-width: 767.98px) {
  .contact-form__textarea {
    height: 160px;
  }
}
.contact-form__btn {
  align-self: flex-end;
  width: 195px;
}

.faq {
  margin-bottom: 160px;
}
@media (max-width: 767.98px) {
  .faq {
    margin-bottom: 70px;
  }
}
.faq-content {
  align-self: center;
  width: 570px;
  padding: 20px;
}
@media (max-width: 767.98px) {
  .faq-content {
    width: 100%;
    padding: 12px 0;
  }
}
.faq-content--active {
  border-radius: 8px;
  box-shadow: 0px 20px 70px 0px rgba(27, 12, 84, 0.0705882353);
}
.faq-content + .faq-content {
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .faq-content + .faq-content {
    margin-top: 18px;
  }
}
.faq-content__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  user-select: none;
}
@media (max-width: 767.98px) {
  .faq-content__label {
    font-size: 1.6rem;
    line-height: 1.75;
    font-weight: 600;
  }
}
.faq-content__checkbox {
  appearance: none;
  height: 100%;
}
.faq-content__checkbox::before {
  content: url(../../assets/icons/plus.svg);
}
.faq-content__checkbox:checked::before {
  content: url(../../assets/icons/minus.svg);
}
.faq-content__desc {
  margin-top: 18px;
  text-align: left;
}
@media (max-width: 767.98px) {
  .faq-content__desc {
    font-size: 1.4rem;
    line-height: 1.71;
  }
}

.about {
  margin: 0;
  padding: 55px 0 100px;
  background: var(--color-bg);
}
@media (max-width: 991.98px) {
  .about {
    padding: 30px 0 50px;
  }
}
.about__heading {
  max-width: 770px;
}
.about__desc {
  max-width: 570px;
}
.about__thumb {
  margin-top: 55px;
  position: relative;
  padding-top: 100%;
}
@media (max-width: 991.98px) {
  .about__thumb {
    padding-top: 66%;
  }
}
.about__thumb--big {
  margin-top: 30px;
  padding-top: 116%;
}
@media (max-width: 991.98px) {
  .about__thumb--big {
    padding-top: 78%;
  }
}
.about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-conutdown {
  margin-top: 160px;
}
@media (max-width: 991.98px) {
  .about-conutdown {
    margin-top: 70px;
  }
}
.about-blq {
  margin: 0;
  padding-top: 160px;
  background: var(--color-bg);
}
@media (max-width: 991.98px) {
  .about-blq {
    margin-top: 70px;
    padding-top: 20px;
  }
}

.story {
  padding: 160px 0 0;
  background: #fff;
}
@media (max-width: 991.98px) {
  .story {
    padding: 50px 0 0;
    margin: 0;
  }
}
.story-inner--reverse {
  flex-direction: row-reverse;
}
@media (max-width: 991.98px) {
  .story-inner {
    flex-direction: column;
    gap: 30px;
  }
}
.story-media {
  padding-top: 83%;
}

.blog {
  margin: 55px 0 160px;
}
@media (max-width: 767.98px) {
  .blog {
    margin: 30px 0 70px;
  }
}
.blog-header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .blog-header {
    flex-direction: column;
  }
}
.blog-header__content {
  flex-shrink: 0;
  width: 49%;
}
@media (max-width: 767.98px) {
  .blog-header__content {
    width: 100%;
  }
}
.blog-header__time {
  display: flex;
  margin-bottom: 18px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.blog-header__time-new {
  display: flex;
}
.blog-header__time-new::after {
  content: "";
  margin: 6px 16px;
  width: 1px;
  background: var(--color-text);
}
.blog-header__media {
  width: 40%;
}
@media (max-width: 767.98px) {
  .blog-header__media {
    margin-top: 30px;
    width: 100%;
  }
}
.blog-header__thumb {
  position: relative;
  padding-top: 100%;
  border-radius: 12px;
}
.blog-header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
}
.blog-header__user {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.blog-header__user-avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
}
.blog-header__user-name {
  font-size: 1.8rem;
  line-height: 1.67;
  font-weight: 600;
  color: var(--color-5);
}
.blog-search {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .blog-search {
    flex-direction: column;
    margin-top: 30px;
  }
}
.blog-search__list {
  display: flex;
  margin-left: -15px;
}
@media (max-width: 767.98px) {
  .blog-search__list {
    align-self: flex-start;
  }
}
.blog-search__link {
  padding: 10px 15px;
  font-size: 1.8rem;
  line-height: 1.67;
}
.blog-search__link:hover, .blog-search__link--current {
  font-weight: 600;
  color: var(--color-primary);
}
.blog-search__right {
  display: flex;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .blog-search__right {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
}
.blog-search__wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  width: 378px;
  height: 60px;
  border: 1px solid var(--color-text);
  border-radius: 6px;
}
@media (max-width: 991.98px) {
  .blog-search__wrap {
    width: 200px;
  }
}
@media (max-width: 767.98px) {
  .blog-search__wrap {
    width: 100%;
  }
}
.blog-search__input {
  width: 100%;
  height: 100%;
}
.blog-search__btn {
  min-width: 131px;
}
@media (max-width: 991.98px) {
  .blog-search__btn {
    min-width: 70px;
  }
}
.blog-body {
  margin-top: 55px;
}
.blog-item {
  padding: 20px;
  border-radius: 12px;
}
.blog-item:hover {
  box-shadow: 0px 20px 70px 0px rgba(27, 12, 84, 0.0705882353);
}
.blog-item:hover .blog-item__heading {
  color: var(--color-primary);
}
.blog-item__time {
  margin: 20px 0 16px;
}
.blog-item__time, .blog-item__desc {
  font-size: 1.6rem;
  line-height: 1.75;
}
.blog-item__heading {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
.blog-item__desc {
  margin-top: 16px;
}
.blog-item__user {
  margin-top: 30px;
}

/*# sourceMappingURL=main.css.map */
