@use "../abstracts";

.header {
    position: sticky;
    z-index: 90;
    background: var(--color-bg);
    padding: 20px 0;
    top: 0;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    &__list {
        display: flex;
    }

    &__link {
        padding: 0 24px;
    }
}

.top-act {
    display: flex;
    align-items: center;

    &__sign-in {
        font-size: initial;
        color: var(--color-5) !important;
        padding: 0 15px;
        min-width: 0;
        height: inherit;
    }

    &__sign-up {
        font-size: inherit;
        min-width: 107px;
        height: 44px;
        margin-left: 15px;
    }
}
