.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    min-width: 166px;
    height: 60px;
    padding: 0 20px;
    border-radius: 6px;

    background: var(--color-4);

    font-size: 18px;
    font-weight: 600;
    color: #fff !important;

    white-space: nowrap;
    user-select: none;

    &--small {
        height: 36px;
    }

    + .btn {
        &:not(.btn--no-margin) {
            margin-left: 20px;
        }
    }

    &--primary {
        background: var(--color-primary);
    }

    &--text {
        background: transparent;
    }

    &--black {
        background: var(--color-5);
    }
}
