.color {
    --color-primary: #572af8;
    --color-like: #29b067;
    --color-warning: #f05e36;
    --color-4: #ffcf54;
    --color-5: #191720;
    --color-6: #575363;
    --color-bg: #fffae3;
    --color-8: #e8e6ed;
}
