.section__heading--lv1 {
    font-size: 74px;
    line-height: 1;
    font-weight: 600;
}

.section__heading--lv2 {
    font-size: 44px;
    line-height: 1;
    font-weight: 600;
}

.section__heading--lv3 {
    font-size: 30px;
    line-height: 1.33%;
    font-weight: 700;
}

.section__heading--lv4 {
    font-size: 26px;
    line-height: 1.38%;
    font-weight: 600;
}

.section__heading--lv5 {
    font-size: 20px;
    line-height: 1.5%;
    font-weight: 700;
}

.section__heading--lv6 {
    font-size: 20px;
    line-height: 1.5%;
    font-weight: 600;
}

.section__desc--lager {
    font-size: 18px;
    line-height: 1.66%;
}

.section__desc--medium {
    font-size: 16px;
    line-height: 1.75%;
}

.section__desc--small {
    font-size: 14px;
    line-height: 1.71%;
}
