*,
::before,
::after {
    box-sizing: border-box;
}
* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --color-primary: #572af8;
    --color-like: #29b067;
    --color-warning: #f05e36;
    --color-4: #ffcf54;
    --color-5: #191720;
    --color-text: #575363;
    --color-bg: #fffae3;
    --color-8: #e8e6ed;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: Manrope, sans-serif;
    color: var(--color-text);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
}

input,
textarea {
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
    transition: background-color 1s 9999s;
    -webkit-text-fill-color: var(--text-color);
    caret-color: var(--text-color);
}

h1,
h2 {
    font-family: RobotoSerif, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-5);
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}
