<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <h1 class="logo">
                F
                <img
                    class="logo__thumb"
                    src="./assets/img/logo/logo-1.png"
                    alt=""
                />
                <img
                    class="logo__thumb"
                    src="./assets/img/logo/logo-2.png"
                    alt=""
                />
                DEAST
            </h1>

            <p class="footer__desc">
                Food, drinks, groceries, and more available for delivery and
                pickup.
            </p>

            <!-- Social -->
            <div class="footer__social">
                <a href="#!">
                    <img
                        src="./assets/icons/facebook.svg"
                        alt=""
                        class="footer__social--icon"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/icons/linkedin.svg"
                        alt=""
                        class="footer__social--icon"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/icons/twitter.svg"
                        alt=""
                        class="footer__social--icon"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/icons/instagram.svg"
                        alt=""
                        class="footer__social--icon"
                    />
                </a>
            </div>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Get Started</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">FoodEats Sign In</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">FoodEats Sign Up</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Become a Rider</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Become a Partner</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Get Help</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Resources</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Support</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Contact Us</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Company</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Customer Rights</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Career</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Press</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Blog</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">FootEats For</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Enterprise</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">For Small Business</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Personal</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Riders</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__separate"></div>

    <div class="footer__copyright">
        <p>Copyright © 2022 UIHUT all rights reserved.</p>
        <div class="footer__copyright--right">
            <span>Privacy Policy</span>
            <span>Terms & Conditions</span>
        </div>
    </div>
</div>
