<div class="container">
    <div class="top-bar">
        <!-- Logo -->
        <h1 class="logo">
            F
            <img
                class="logo__thumb"
                src="./assets/img/logo/logo-1.png"
                alt=""
            />
            <img
                class="logo__thumb"
                src="./assets/img/logo/logo-2.png"
                alt=""
            />
            DEAST
        </h1>

        <!-- Menu -->
        <div class="menu d-none d-md-block">
            <img src="./assets/icons/menu.svg" alt="" />
        </div>

        <!-- Navbar -->
        <nav class="navbar d-md-none">
            <ul class="navbar__list">
                <li>
                    <a href="#!" class="navbar__link">Get the app</a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">About</a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Page
                        <img src="./assets/icons/arrow-down.svg" alt="" />
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Action -->
        <div class="top-act d-md-none">
            <button>Sign In</button>
            <button class="top-act__sign-up btn btn--primary">Sign Up</button>
        </div>
    </div>
</div>
