<div class="container">
    <div class="top-bar">
        <!-- Logo -->
        <a href="/">
            <h1 class="logo">
                F
                <img
                    class="logo__thumb"
                    src="./assets/img/logo/logo-1.png"
                    alt=""
                />
                <img
                    class="logo__thumb"
                    src="./assets/img/logo/logo-2.png"
                    alt=""
                />
                DEAST
            </h1>
        </a>

        <!-- Menu -->
        <div class="menu d-none d-md-block">
            <img
                src="./assets/icons/menu.svg"
                alt=""
                class="menu__icon js-toggle"
                toggle-target="#hidden-menu"
            />

            <div id="hidden-menu" class="menu-inner hide">
                <ul class="navbar__list">
                    <li>
                        <a href="./sign-up.html" class="navbar__link"
                            >Sign up</a
                        >
                    </li>
                    <li>
                        <a href="./sign-in.html" class="navbar__link"
                            >Sign in</a
                        >
                    </li>

                    <li>
                        <a href="#!" class="navbar__link">Get the app</a>
                    </li>
                    <li>
                        <a href="#!" class="navbar__link">About</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#!" class="navbar__link">
                            Page
                            <img
                                src="./assets/icons/arrow-down.svg"
                                alt=""
                                class="navbar__link-icon"
                            />
                        </a>
                        <div class="showdown">
                            <div class="showdown__inner">
                                <ul class="showdown__list">
                                    <li>
                                        <a
                                            href="./blog.html"
                                            class="showdown__link"
                                            >Blog</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="./faq.html"
                                            class="showdown__link"
                                            >FAQ</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="./contact.html"
                                            class="showdown__link"
                                            >Contact</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="./404.html"
                                            class="showdown__link"
                                            >404 Page</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="./coming-soon.html"
                                            class="showdown__link"
                                            >Coming Soon</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar d-md-none">
            <ul class="navbar__list">
                <li>
                    <a href="#!" class="navbar__link">Get the app</a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">About</a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Page
                        <img src="./assets/icons/arrow-down.svg" alt="" />
                    </a>
                    <div class="showdown">
                        <div class="showdown__inner">
                            <ul class="showdown__list">
                                <li>
                                    <a href="./blog.html" class="showdown__link"
                                        >Blog</a
                                    >
                                </li>
                                <li>
                                    <a href="./faq.html" class="showdown__link"
                                        >FAQ</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="./contact.html"
                                        class="showdown__link"
                                        >Contact</a
                                    >
                                </li>
                                <li>
                                    <a href="./404.html" class="showdown__link"
                                        >404 Page</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="./coming-soon.html"
                                        class="showdown__link"
                                        >Coming Soon</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Action -->
        <div class="top-act d-md-none">
            <a href="./sign-in.html" class="top-act__sign-in btn btn--text"
                >Sign In</a
            >
            <a
                href="./sign-up.html"
                class="top-act__sign-up btn btn--primary btn--no-margin"
                >Sign Up</a
            >
        </div>
    </div>
</div>
